/* styles.css */

/*
 * Rule for headers and table content
 */
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6,
.reveal th,
.reveal td {
  font-family: "Georgia", serif;
}

.light-text h1,
.light-text h2,
.light-text h3,
.light-text p {
  color: #FFFFFF; /* White */
}

.light-text a {
  color: #87CEEB; /* A nice light sky blue for links */
}

/* * FIGURE CAPTIONS
 * This targets the <figcaption> element that Quarto generates.
 */
.reveal figcaption {
  font-size: 0.5em !important; /* Adjust size as needed. 0.6em is quite small. */
  text-align: center;
}

/* Rule for figure images */
.reveal .figure img {
  max-height: 65vh; /* Image can't be taller than 65% of the slide height */
  width: auto;      /* Ensures width scales proportionally */
}



